<div class="row">
  <div class="col-md-12">

    <% if notice %>
      <div class="alert alert-info" role="alert">
        <i class="fa fa-check" aria-hidden="true"></i>
        <%= notice %>
      </div>
    <% end %>
    
    
   	<div class="row section featured topspace">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<h3 class="text-center">Thx!</h3>
						<p class="text-center"> <span>登録ありがとうございます。<br>
						ログイン後、まずは最初に課金先のソシャゲをご登録ください。<br>
						課金予算は登録せずともガチャ記録はできますが<br>
						容赦なく残高表記はマイナス表示になるのでご注意ください。</span></p>
						<div class="text-center">
						<a href="<%= new_session_path %>" class="btn btn-action"><span class="fa fa-sign-in" aria-hidden="true"></span>Login</a>
						</div>  
				</div>
			</div>
		</div>
     
　  	
      

  </div>
<div class="clearfix"></div>
